##############################
## Folders                  ##
##############################

ASP.NET/TH
**/packages

**/bin
**/obj
**/.vs

##############################
## Files                    ##
##############################





