##############################
## Folders                  ##
##############################
ASP.NET/WebAPI/packages
ASP.NET/WebAPI/Model/bin
ASP.NET/WebAPI/Model/obj
ASP.NET/WebAPI/ArcGIsLib/bin
ASP.NET/WebAPI/ArcGIsLib/obj
ASP.NET/WebAPI/Common/bin
ASP.NET/WebAPI/Common/obj
ASP.NET/WebAPI/Computing/bin
ASP.NET/WebAPI/Computing/obj
ASP.NET/WebAPI/DAL/bin
ASP.NET/WebAPI/DAL/obj
ASP.NET/WebAPI/.vs
##############################
## Files                    ##
##############################



