<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="PH.ServerFramework"/>
  </extensions>
  <targets async="true">
    <target name="invokeLog" xsi:type="InvokeLog"></target>
    <target name="file" xsi:type="File"  fileName="${basedir}/logs/log_${shortdate}.txt" />
    <target name="errorFile" xsi:type="File"  fileName="${basedir}/logs/error_${shortdate}.txt" />
    <target name="sqlFile" xsi:type="File"  fileName="${basedir}/SqlFiles/sql_${shortdate}.txt" />
  </targets>
  <rules>
    <logger name="systemLog" minlevel="Info" writeTo="file"/>
    <logger name="systemErrorLog" minlevel="Debug" writeTo="errorFile"/>
    <logger name="sqlFileLog" minlevel="Info" writeTo="sqlFile"/>
    <logger name="DataBaseLog" minlevel="Info" writeTo="invokeLog"/>
  </rules>
</nlog>