<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">


	<targets>
		<!--屏幕打印消息-->
		<target name="console" xsi:type="ColoredConsole"
				layout="${date:format=HH\:mm\:ss}> ${message}"/>

		<!--VS输出窗口-->
		<target name="debugger" xsi:type="Debugger"
				layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

		<!--通用日志配置-->
		<!--info.txt文件-->
		<!--maxArchiveFiles：最大文件个数-->
		<!--archiveAboveSize：单文件大小 5242880=5MB-->
		<target name="info_txt" xsi:type="File" maxArchiveFiles="500"  archiveNumbering="Sequence" archiveAboveSize="5242880"
					  fileName="../Logs/Info_Common/${shortdate}/info.log" encoding="utf-8"
					  layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
		<!--error.txt文件-->
		<target name="error_txt" xsi:type="File" maxArchiveFiles="500" archiveNumbering="Sequence" archiveAboveSize="5242880"
						fileName="../Logs/Error_Common/${shortdate}/error.log" encoding="utf-8"
						layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

	</targets>


	<rules>
		<logger name="*" minlevel="Info" writeTo="info_txt" />
		<logger name="*" minlevel="Error" writeTo="error_txt" />
		<logger name="*" minlevel="Debug" writeTo="debugger" />
	</rules>
</nlog>
