<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="ServerFramework" type="PH.ServerFramework.Configuration.SettingsSection, PH.ServerFramework" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ServiceDataBaseName" value="JMDataProcessEntities" />
    <add key="SharingServiceUrl" value="http://192.168.1.2/ssn/XX/admin.svc" />
    <add key="SharingServicePwd" value="123" />
    <add key="DataSharingServiceDataName" value="SPDataCenterDBEntities" />
    <add key="ThingDataName" value="ThingDBEntities" />
    <add key="SysDataImagePath" value="D:\SysDataImage" />
    
    <add key="HostName"  value="192.168.1.108"/>
    <add key="MapServerUserName"  value="ArcGISSOM"/>
    <add key="MapserverPwd"  value="ArcGISSOM"/>
    <add key="serviceCachePath"  value="D:\arcgisserver"/>
    <add key="MxdFilePath"  value="D:\THTHArcGISServiceManager\MxdFiles"/>
    <add key="StyleFilePath"  value="D:\THTHArcGISServiceManager\StyleFiles\ESRI.ServerStyle"/>
    <add key="StyleFieldName"  value="FHDM"/>
  </appSettings>
  <connectionStrings>
    <add name="JMDataProcessEntities" connectionString="metadata=res://*/JMDataProcess.csdl|res://*/JMDataProcess.ssdl|res://*/JMDataProcess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=JMSJSL;persist security info=True;user id=sa;password=1a!23456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SPDataCenterDBEntities" connectionString="metadata=res://*/CenterData.csdl|res://*/CenterData.ssdl|res://*/CenterData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.108;initial catalog=SPDataCenterDB;persist security info=True;user id=sa;password=1a!23456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ThingDBEntities" connectionString="metadata=res://*/ThingModel.csdl|res://*/ThingModel.ssdl|res://*/ThingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.108;initial catalog=ThingDB;user id=sa;password=1a!23456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <!--<add type="PH.ServerFramework.ServiceCatalog.ServiceConfigurationBase,PH.ServerFramework">
          <knownType type="ServerFramework.ServiceCatalog.ConfigFileServiceConfiguration,PH.ServerFramework.Core" />
          <knownType type="MyGISServer.DataModel.Layer.LayerServiceConfigurationBase,MyGISServer" />
          <knownType type="MyGISServer.DataModel.GeometryService.GeometryServiceConfiguration,MyGISServer" />
        </add>-->
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
  <ServerFramework>
    <ApplicationServices>
      <ServiceLocatorProvider classType="PH.ServerFramework.Extensions.MyServiceLocatorProvider, PH.ServerFramework" />
      <TaskPoolService defaultPool="defaultPool" workerIdleTimeSpan="00:00:01">
        <DefaultTaskPoolOptions maxRunningTasks="4" defaultTaskCreationOptions="None" taskResultHistorySize="20" taskResultTtl="00:00:15" />
        <add name="defaultPool" maxRunningTasks="4" defaultTaskCreationOptions="None" taskResultHistorySize="20" taskResultTtl="00:00:00" />
        <add name="tileTaskPool" maxRunningTasks="10" defaultTaskCreationOptions="LongRunning" taskResultHistorySize="20" taskResultTtl="00:00:00" />
      </TaskPoolService>
      <BlobService defaultSectionName="defaultSection" maxAllowedBlobPropertyKeyLength="50" maxAllowedBlobPropertyValueLength="1024" maxAllowedBlobSize="200000" />
      <!--<LoggingService exportPageSize="1000" exportFileSystemInstance="appFolder" exportTaskPool="defaultPool"></LoggingService>-->
      <CacheService>
        <Providers>
          <add classType="PH.ServerFramework.Caching.InMemoryCacheProvider.InMeoryCacheFactory, PH.ServerFramework" />
          <add classType="PH.ServerFramework.Caching.MockCacheProvider.MockCacheFactory, PH.ServerFramework" />
        </Providers>
        <NamedCaches>
          <add cacheName="tokenCache" defaultCacheItemTtl="00:35:00" providerName="PH.ServerFramework.Caching.InMemoryCacheProvider.InMeoryCacheFactory" />
          <add cacheName="serviceConfigCache" defaultCacheItemTtl="00:35:00" providerName="PH.ServerFramework.Caching.InMemoryCacheProvider.InMeoryCacheFactory" />
          <add cacheName="serviceTileCache" defaultCacheItemTtl="00:35:00" providerName="PH.ServerFramework.Caching.InMemoryCacheProvider.InMeoryCacheFactory" />
          <add cacheName="mapServiceInfo" defaultCacheItemTtl="00:35:00" providerName="PH.ServerFramework.Caching.InMemoryCacheProvider.InMeoryCacheFactory" />
          <add cacheName="mapServiceLayerInfo" defaultCacheItemTtl="00:35:00" providerName="PH.ServerFramework.Caching.InMemoryCacheProvider.InMeoryCacheFactory" />
          <add cacheName="queryFilterSesseionContext" defaultCacheItemTtl="00:35:00" providerName="PH.ServerFramework.Caching.InMemoryCacheProvider.InMeoryCacheFactory" />
          <add cacheName="featureServiceLayerInfo" defaultCacheItemTtl="00:35:00" providerName="PH.ServerFramework.Caching.InMemoryCacheProvider.InMeoryCacheFactory" />
        </NamedCaches>
      </CacheService>
      <FileSystemService taskPool="defaultPool" defaultFilePath="C:\SystemFiles">
        <Providers>
          <add classType="PH.ServerFramework.IO.Windows.NativeFileSystemProviderFactory, PH.ServerFramework" />
        </Providers>
        <Instances defaultInstanceName="appFolder">
          <add insanceName="appFolder" providerName="PH.ServerFramework.IO.Windows.NativeFileSystemProviderFactory">
            <ProviderArguments>
              <add key="RootDirectory" value="" />
            </ProviderArguments>
          </add>
          <!--<add insanceName="DenseFiles" providerName="PH.ServerFramework.IO.Windows.NativeFileSystemProviderFactory">
						<ProviderArguments>
							<add key="RootDirectory" value="D:\SceretDenseSystemFiles\DenseFiles" />
						</ProviderArguments>
					</add>
					<add insanceName="OutgoingFiles" providerName="PH.ServerFramework.IO.Windows.NativeFileSystemProviderFactory">
						<ProviderArguments>
							<add key="RootDirectory" value="D:\SceretDenseSystemFiles\OutgoingFiles" />
						</ProviderArguments>
					</add>
					<add insanceName="LogingFiles" providerName="PH.ServerFramework.IO.Windows.NativeFileSystemProviderFactory">
						<ProviderArguments>
							<add key="RootDirectory" value="D:\SceretDenseSystemFiles\LogingFiles" />
						</ProviderArguments>
					</add>-->
        </Instances>
      </FileSystemService>
      <ServiceCatalog>
        <PredefinedServiceSource>
          <add serviceName="ArcGISPublishService"  serviceTypeName="TH.ArcGISServiceManager.ArcGISPublishService, TH.ArcGISServiceManager"
						 webServiceTypeName="WCFService" enabled="true"  title="数据处理服务" description="提供数据处理服务" createdDate="2015-12-17" uniqueId="{9bf9c6aa-b491-41d1-9f8e-1e8ee0d79eb1}">
          </add>
        </PredefinedServiceSource>
      </ServiceCatalog>
      <ExtensionService>
        <RepoProvider classType="PH.ServerFramework.Extensions.ExtensionRepository,PH.ServerFramework" />
        <add enabled="true" classType="PH.ServerFramework.Bootstrapper.ExtensionLoader,PH.ServerFramework">
          <ServiceInstanceProviders>
            <add>
              <ServiceType classType="PH.ServerFramework.Extensions.IExtensionRepository,PH.ServerFramework" />
              <ServiceInstanceType classType="PH.ServerFramework.Extensions.ExtensionRepository,PH.ServerFramework" />
            </add>
            <add>
              <ServiceType classType="PH.ServerFramework.WebEndpoint.Activation.IServiceHostRepo,PH.ServerFramework" />
              <ServiceInstanceType classType="PH.ServerFramework.WebEndpoint.Activation.ServiceHostRepo,PH.ServerFramework" />
            </add>
            <add>
              <ServiceType classType="PH.ServerFramework.WebEndpoint.Activation.ISelfHostedActivatorService,PH.ServerFramework" />
              <ServiceInstanceType classType="PH.ServerFramework.WebEndpoint.Activation.SelfHostedActivatorService,PH.ServerFramework" />
            </add>
            <add>
              <ServiceType classType="PH.ServerFramework.WebEndpoint.RESTServer.IServiceProfileRepo,PH.ServerFramework" />
              <ServiceInstanceType classType="PH.ServerFramework.WebEndpoint.Activation.ServiceProfileRepo,PH.ServerFramework" />
            </add>
            <add>
              <ServiceType classType="PH.ServerFramework.Logs.ILogManagerRepo,PH.ServerFramework" />
              <ServiceInstanceType classType="PH.ServerFramework.Logs.LogManagerRepo,PH.ServerFramework" />
            </add>
            <add>
              <ServiceType classType="PH.ServerFramework.Caching.ICacheFactory,PH.ServerFramework" />
              <ServiceInstanceType classType="PH.ServerFramework.Caching.CacheFactory,PH.ServerFramework" />
            </add>
            <add>
              <ServiceType classType="PH.ServerFramework.IO.IFileSystemProviderRepo,PH.ServerFramework" />
              <ServiceInstanceType classType="PH.ServerFramework.IO.FileSystemProviderRepo,PH.ServerFramework" />
            </add>
            <!--<add>
              <ServiceType classType="PH.ServerFramework.BackgroundTask.ITaskPoolRepo,PH.ServerFramework" />
              <ServiceInstanceType classType="PH.ServerFramework.BackgroundTask.TaskPoolRepo,PH.ServerFramework" />
            </add>-->
            <add>
              <ServiceType classType="PH.ServerFramework.TokenService.ITokenProviderFactory,PH.ServerFramework" />
              <ServiceInstanceType classType="PH.ServerFramework.TokenService.TokenProviderFactory,PH.ServerFramework" />
            </add>
          </ServiceInstanceProviders>
          <Bootstrapper>
            <StartupTasks>
              <add classType="PH.ServerFramework.Bootstrapper.InitCacheService,PH.ServerFramework" />
              <add classType="PH.ServerFramework.Bootstrapper.InitFileSystemService,PH.ServerFramework" />
              <!--<add classType="PH.ServerFramework.Bootstrapper.StartTaskPoolService,PH.ServerFramework" />-->
              <add classType="PH.ServerFramework.Bootstrapper.OpenSelfHostedWCFServices,PH.ServerFramework" />
            </StartupTasks>
          </Bootstrapper>
        </add>
        <add enabled="true" classType="TH.JMDataProcess.ServiceManager.Bootstrapper.ExtensionLoader,TH.JMDataProcess.ServiceManager">
          <ServiceInstanceProviders>
            <add>
              <ServiceType classType="TH.JMDataProcess.ServiceManager.Interfaces.IDataManagerServiceRepo,TH.JMDataProcess.ServiceManager" />
              <ServiceInstanceType classType="TH.JMDataProcess.ServiceManager.Achieves.DataManagerServiceRepo,TH.JMDataProcess.ServiceManager" />
            </add>
          </ServiceInstanceProviders>
          <Bootstrapper>
            <StartupTasks>
              <add classType="TH.JMDataProcess.ServiceManager.Bootstrapper.RegisterMapperProfile,TH.JMDataProcess.ServiceManager" />
            </StartupTasks>
          </Bootstrapper>
        </add>
      </ExtensionService>
      <TokenService adminTokenTtl="24:00:00" ServiceIp="192.168.1.111" ServicePort="8088" IsServiceVaild="false" IsLog="false"  ClientPort="8088" ClientServicePort ="8086" systemUserName="SuperAdmin" systemPassword="FG3MFBSCGjbF3tWGhAMLTQ==" tokenCacheName="tokenCache" defaultPassword="U+XWP38T3Hc=" RegistrationPath=""/>
      <!--超级管理员密码：123456，默认密码是a123456789-->
    </ApplicationServices>
    <RIACrossDomainService enabled="true" crossDomainFile="crossdomain.xml" />
  </ServerFramework>
  <system.serviceModel>
    <services>
      <service name="TH.ArcGISServiceManager.ArcGISPublishService" behaviorConfiguration="defaultServiceBehavior">
        <endpoint binding="basicHttpBinding" bindingName="LargeBuffer" bindingConfiguration="LargeBuffer" contract="TH.ArcGISServiceManager.IArcGISPublishService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.111/dataprocess/arcgispublishservice" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="LargeBuffer" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="LargeStreamed" transferMode="Streamed" crossDomainScriptAccessEnabled="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceDiscoveryBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceDiscovery />
        </behavior>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="LargeDataContract">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="WebBehavior">
          <!--httpGetEnabled - 指示是否发布服务元数据以便使用 HTTP/GET 请求进行检索，如果发布 WSDL，则为 true，否则为 false，默认值为 false-->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RestEndpointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name=""
                          helpEnabled="true"
                          automaticFormatSelectionEnabled="true"
                          defaultOutgoingResponseFormat ="Json"
                          crossDomainScriptAccessEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <!--<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
				<listeners>
					<add name="sdt"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "SdrConfigExample.e2e" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->

</configuration>