<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">


	<targets>
		<!--屏幕打印消息-->
		<target name="console" xsi:type="ColoredConsole"
						layout="${date:format=HH\:mm\:ss}> ${message}"/>

		<!--VS输出窗口-->
		<target name="debugger" xsi:type="Debugger"
						layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />


		<!--通用日志配置-->
		<!--info.htm文件-->
		<target name="info_htm" xsi:type="File" maxArchiveFiles="90" archiveNumbering="Sequence" archiveAboveSize="5000000" fileName="../Logs/Info/Info_Common/${shortdate}/info.htm"
				header="&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot; /&gt;"
				layout="&lt;p&gt;&lt;span style=&quot;color:red; font-weight:bold;&quot;&gt;[${level}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#666&quot;&gt;${longdate}&lt;/span&gt;&lt;br /&gt;
					  &lt;span style=&quot;color:#666&quot;&gt;${scopeproperty:item=RequestId}&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF; font-weight:bold;&quot;&gt;[${stacktrace}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF;font-family:KaiTi_GB2312;font-size:18px;&quot;&gt;${message}${onexception:${exception:format=tostring}&lt;/span&gt;&lt;/p&gt;"
                  />
		<!--warn.htm文件-->
		<target name="warn_htm" xsi:type="File" maxArchiveFiles="90" archiveNumbering="Sequence" archiveAboveSize="5000000" fileName="../Logs/Warn/Warn_Common/${shortdate}/warn.htm"
				header="&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot; /&gt;"
				layout="&lt;p&gt;&lt;span style=&quot;color:red; font-weight:bold;&quot;&gt;[${level}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#666&quot;&gt;${longdate}&lt;/span&gt;&lt;br /&gt;
					  &lt;span style=&quot;color:#666&quot;&gt;${scopeproperty:item=RequestId}&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF; font-weight:bold;&quot;&gt;[${stacktrace}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF;font-family:KaiTi_GB2312;font-size:18px;&quot;&gt;${message}${onexception:${exception:format=tostring}&lt;/span&gt;&lt;/p&gt;"
                  />
		<!--error.htm文件-->
		<target name="error_htm" xsi:type="File" maxArchiveFiles="90" archiveNumbering="Sequence" archiveAboveSize="5000000" fileName="../Logs/Error/Error_Common/${shortdate}/error.htm"
				header="&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot; /&gt;"
				layout="&lt;p&gt;&lt;span style=&quot;color:red; font-weight:bold;&quot;&gt;[${level}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#666&quot;&gt;${longdate}&lt;/span&gt;&lt;br /&gt;
					  &lt;span style=&quot;color:#666&quot;&gt;${scopeproperty:item=RequestId}&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF; font-weight:bold;&quot;&gt;[${stacktrace}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF;font-family:KaiTi_GB2312;font-size:18px;&quot;&gt;${message}${onexception:${exception:format=tostring}&lt;/span&gt;&lt;/p&gt;"
                  />

		<!--数据库操作相关日志配置-->
		<!--info.htm文件-->
		<target name="db_info_htm" xsi:type="File" maxArchiveFiles="90" archiveNumbering="Sequence" archiveAboveSize="5000000" fileName="../Logs/DBLogs/Info_Common/${shortdate}/info.htm"
				header="&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot; /&gt;"
				layout="&lt;p&gt;&lt;span style=&quot;color:red; font-weight:bold;&quot;&gt;[${level}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#666&quot;&gt;${longdate}&lt;/span&gt;&lt;br /&gt;
					  &lt;span style=&quot;color:#666&quot;&gt;${scopeproperty:item=RequestId}&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF; font-weight:bold;&quot;&gt;[${stacktrace:topFrames=10}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF;font-family:KaiTi_GB2312;font-size:18px;&quot;&gt;${message}${onexception:${exception:format=tostring}&lt;/span&gt;&lt;/p&gt;"
                  />

		<!--warn.htm文件-->
		<target name="db_warn_htm" xsi:type="File" maxArchiveFiles="90" archiveNumbering="Sequence" archiveAboveSize="5000000" fileName="../Logs/DBLogs/Warn_Common/${shortdate}/warn.htm"
				header="&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot; /&gt;"
				layout="&lt;p&gt;&lt;span style=&quot;color:red; font-weight:bold;&quot;&gt;[${level}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#666&quot;&gt;${longdate}&lt;/span&gt;&lt;br /&gt;
					  &lt;span style=&quot;color:#666&quot;&gt;${scopeproperty:item=RequestId}&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF; font-weight:bold;&quot;&gt;[${stacktrace:topFrames=10}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF;font-family:KaiTi_GB2312;font-size:18px;&quot;&gt;${message}${onexception:${exception:format=tostring}&lt;/span&gt;&lt;/p&gt;"
                  />

		<!--error.htm文件-->
		<target name="db_error_htm" xsi:type="File" maxArchiveFiles="90" archiveNumbering="Sequence" archiveAboveSize="5000000" fileName="../Logs/DBLogs/Error_Common/${shortdate}/error.htm"
				header="&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot; /&gt;"
				layout="&lt;p&gt;&lt;span style=&quot;color:red; font-weight:bold;&quot;&gt;[${level}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#666&quot;&gt;${longdate}&lt;/span&gt;&lt;br /&gt;
					  &lt;span style=&quot;color:#666&quot;&gt;${scopeproperty:item=RequestId}&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF; font-weight:bold;&quot;&gt;[${stacktrace:topFrames=10}]&lt;/span&gt;&lt;br /&gt;
                      &lt;span style=&quot;color:#0066FF;font-family:KaiTi_GB2312;font-size:18px;&quot;&gt;${message}${onexception:${exception:format=tostring}&lt;/span&gt;&lt;/p&gt;"
                  />
	</targets>

	<rules>
		
		<logger name="DBLogger" level="Info" writeTo="db_info_htm" />
		<logger name="DBLogger" level="Warn" writeTo="db_warn_htm" />
		<logger name="DBLogger" level="Error" writeTo="db_error_htm" />

		<logger name="LX.Commons.Logs.Logger" level="Info" writeTo="info_htm" />
		<logger name="LX.Commons.Logs.Logger" level="Warn" writeTo="warn_htm" />
		<logger name="LX.Commons.Logs.Logger" level="Error" writeTo="error_htm" />
		
		<logger name="*" minlevel="Debug" writeTo="debugger" />
		
	</rules>
</nlog>
